.btn-add-student{
    background-color: #550000 !important;
    color: white !important;
}
.btn-add-student:hover{
    background-color: white !important;
    color:#550000 !important;
    border: .1px solid #550000 !important; 
}

.search-container {
    position: relative; 
    display: inline-block; 
    width: 380px; 
}

.search-input {
    width: 100%; 
    padding: 5px 40px 5px 15px; 
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    background-color: #B3B3B380; 
}

.search-input::placeholder {
    color: #888; 
}

.search-btn {
    position: absolute; 
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    background: none; 
    border: none;
    color: #555; 
    font-size: 18px;
    cursor: pointer;
}

.search-btn:hover {
    color: #333; /* Darker color on hover */
}

/*SHOW ENTRIES*/
.show-entries{
    margin-top: 30px !important;
    align-items: center;
    font-size: 14px;
}

/*STUDENT TABLE*/
table{
    margin-top: 20px;
}

table thead, tr, th{
    font-weight: 500;
}

tr, th{
    color: #550000;
    font-size: 13px;
}

td{
    color:#550000;
    vertical-align: baseline;
}

tr.no-data {
    background-color: #ffe4c4; /* Light orange background */
    text-align: center;
}
.no-data td {
    font-weight: bold;
}
tbody tr:nth-child(odd){
    background-color:rgba(255, 173, 96, .50) !important;

}

tbody tr:nth-child(even){
    background-color: #FFEEAD !important;
}


/*ADD STUDENT MODAL*/
.modal{
    --bs-modal-width: 900px !important;
}
.modal-content {
    border: 2px solid #550000;
}
.modal-header {
    border-bottom: none;
    color: #550000;
}

.modal-header .btn-close {
    background-color: transparent;
    border: none;
    font-size: 13px;
}

.form-label {
    position: relative;
    transform: translateY(16px);
    left: 12px;
    background-color: white;
    transition: 0.3s ease;
    font-size: 12px;
}

.btn-cancel {
    border: 1px solid #550000; /* Dark red border */
    color: #800000; /* Dark red text */
}

.btn-submit {
    background-color: #550000;
    color: white;
}

.btn-submit:hover{
    background-color: #800505;
    color:white;
}


/*UPLOAD IMAGE*/
.custom-file-label {
    position: absolute;
    top: 147px;
    right: 32rem;
    left: 57px;
    z-index: 1;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: none;
}

.col-md-6{
    margin-top: 2px;
}
.custom-file-input {
    position: relative;
    z-index: 2;
    width: 50%;
    height: calc(2.25rem + 2px);
    margin: 0;
    opacity: 0;
}


.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: 2.25rem;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 0.25rem 0.25rem 0;
}

.control-label .mt-3{
    left: 40px !important;
}
 /* Image Holder Styling */
 .image-holder {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Circular Shape */
    overflow: hidden;
    border: 2px solid #ddd;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }

  .image-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Keeps image aspect ratio */
  }


/*STUDENT PROFILE*/

.btn-back{
    border: none;
    background-color: transparent;
}

.stud-prof{
    display: flex;
    justify-content: flex-start;
    gap: 15px
}

.student_profile_title{
    color: #550000;
    font-size: 20px;
    font-weight: 550;
}

.qr_holder .qr_code img{
    width: 100px;
    height: 100px;
}

.s_year{
    margin-top: 10px;
}
.qr_holder .s_year h6{
    font-size: 10px ;
    color:#550000;
    text-align: center;
    font-weight: lighter;
}

.item{
    margin-top: 20px;
    margin-bottom: 20px;
}
.item h5{
    display: flex;
    margin: 5px;
    font-size: 13px;
    color:#550000;
}

.label{
    font-weight: lighter;
    display: inline-block;
    min-width: 130px;
}

.print_qr{
    border:none;
    background-color: #550000;
    color: white;
    padding: 3px;
    font-size: 13px;
    width: 70px;
    border-radius: 5px;
}

/*PRINT QR CODE MODAL*/

 #viewQRCodeModal.modal{
    --bs-modal-width: 300px !important;
} 
.modal-content hr{
    margin: 0 !important;
    color:#550000;
    height: 2px;
    border-width: 1;
    background-color: #550000;
}

.qr_preview .qr_code_img img{
    width: 150px;
    height: 150px;
    border: 2px solid #550000;
    border-radius: 5px;
}

.rollnumber .rollno, .roll_number, .student_name, .studentName {
    color: #550000;
}

.rollno label, .stud_title label{
    font-weight: lighter;
    font-size: 12px;
}

.rollnumber h6, .studentName h6{
    font-weight: 600;
}