.search-container {
    position: relative; 
    display: inline-block; 
    width: 380px; 
}

.search-input {
    width: 100%; 
    padding: 5px 40px 5px 15px; 
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    background-color: #B3B3B380; 
}

.search-input::placeholder {
    color: #888; 
}

.search-btn {
    position: absolute; 
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    background: none; 
    border: none;
    color: #555; 
    font-size: 18px;
    cursor: pointer;
}

.search-btn:hover {
    color: #333; /* Darker color on hover */
}

.filter-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-container label, select{
    color: #550000;
}
.filter-container select{
    border-radius: 7px;
    padding: 0px 5px;
    background-color: #B3B3B380;
}

/*EVENT TABLE*/

#event-name{
    color: #550000;
    font-weight: 500;
}

.e-item h5{
    font-size: 12px;
    margin-bottom: 10px;
    color: #550000;
    font-weight: 650;
}

.e-item .label{
    font-weight: lighter !important;
}

hr{
    height: 2px;
    color:#550000;
    border-width: 1;
    background-color: #550000;
    margin-bottom: 5px !important;
}

/*TABLE*/

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
table thead tr th{
    color: #550000;
    font-size: 13px;
    font-weight: lighter;
}

tbody td {
    color: #550000;
    font-size: 13px;
    font-weight: 600;
}

/* Add vertical borders to colspan and sub-columns */
.colspan-header,.sub-column, .sub-column1 {
    border-left: 1px solid #B3B3B3; /* Left border for sub-columns */
    border-right: 1px solid #B3B3B3; /* Right border for sub-columns */
}

tbody tr:nth-child(odd){
    background-color:rgba(255, 173, 96, .50) !important;

}

tbody tr:nth-child(even){
    background-color: #FFEEAD !important;
}