/*sidebar and dashboard design*/

/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* FontAwesome Import Link */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #EAE6E6 !important;
}

body::-webkit-scrollbar {
  display: none;
}


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #550000;
  z-index: 100;
  transition: all 0.5s ease;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.sidebar.close {
  width: 78px;
}

.sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.sidebar .logo-details img {
  font-size: 20px;
  color: #fff;
  height: 50px;
  min-width: 50px;
  margin-left: 12px;
  margin-right: 10px;
  text-align: center;
  line-height: 50px;
}

.sidebar .logo-details .logo_name {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  transition: 0.1s ease;
  transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo_name {
  transition-delay: 0.1s;
  opacity: 0;
  pointer-events: none;
  display: none;
}

.sidebar .nav-links {
  height: 100%;
  padding: 10px 0 150px 0;
  overflow: auto;
}

.sidebar.close .nav-links {
  overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-links li {
  position: sticky;
  list-style: none;
  transition: all 0s ease;
}

.sidebar .nav-links li:hover {
  background: #801212;
}   

.sidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link {
  display: block;
}

.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
  display: none;
}

.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar .nav-links li a .link_name {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  transition: all 0.1s ease;
}

.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #801212;
  display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}

.sidebar .nav-links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
}

.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 15px;
  opacity: 1;
  display: block;
}

.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

.home-section {
  position: fixed;
  top: 0;
  background: #fff;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  z-index: 90;
}

.sidebar.close ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}

.home-section .home-content {
  height: 60px;
  display: flex;
  align-items: center;
}

.home-section .home-content .toggle-sidebar-btn,
.home-section .home-content .text {
  color: #11101d;
  font-size: 20px;
}

.home-section .home-content .toggle-sidebar-btn {
  margin: 0 15px;
  cursor: pointer;
}

.home-section .home-content .text {
  font-size: 20px;
  font-weight: 600;
  color: rgb(137, 47, 47);
}


/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/
.home-section .header-nav ul {
  list-style: none;
}

.home-section .header-nav>ul {
  margin: 0;
  padding: 0;
}

.home-section .header-nav .nav-icon {
  font-size: 22px;
  color: black;
  margin-right: 25px;
  position: relative;
}

.home-section .header-nav .nav-profile {
  color: black;
}

.home-section .header-nav .nav-profile img {
  max-height: 36px;
}

.home-section .header-nav .nav-profile span {
  font-size: 14px;
  font-weight: 600;
}

.home-section .header-nav .badge-number {
  position: absolute;
  inset: -2px -5px auto auto;
  font-weight: normal;
  font-size: 12px;
  padding: 3px 6px;
}

.home-section .header-nav .notifications {
  inset: 8px -15px auto auto !important;
}

.home-section .header-nav .notifications .notification-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  transition: 0.3s;
}

.home-section .header-nav .notifications .notification-item i {
  margin: 0 20px 0 10px;
  font-size: 24px;
}

.home-section .header-nav .notifications .notification-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.home-section .header-nav .notifications .notification-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}

.home-section .header-nav .notifications .notification-item:hover {
  background-color: #f6f9ff;
}

.home-section .header-nav .messages {
  inset: 8px -15px auto auto !important;
}

.home-section .header-nav .messages .message-item {
  padding: 15px 10px;
  transition: 0.3s;
}

.home-section .header-nav .messages .message-item a {
  display: flex;
}

.home-section .header-nav .messages .message-item img {
  margin: 0 20px 0 10px;
  max-height: 40px;
}

.home-section .header-nav .messages .message-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #444444;
}

.home-section .header-nav .messages .message-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}

.home-section .header-nav .messages .message-item:hover {
  background-color: #f6f9ff;
}

.home-section .header-nav .profile {
  min-width: 240px;
  padding-bottom: 0;
  top: 8px !important;
}

.home-section .header-nav .profile .dropdown-header h6 {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 600;
  color: #444444;
}

.home-section .header-nav .profile .dropdown-header span {
  font-size: 14px;
}

.home-section .header-nav .profile .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.home-section .header-nav .profile .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.home-section .header-nav .profile .dropdown-item:hover {
  background-color: #f6f9ff;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
}



/* Info Cards */
.main {
  position: sticky;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.4s ease;
}

.sidebar.close ~ .main {
  left: 78px;
  width: calc(100% - 78px);
}




/*DASHBOARD*/

.dashboard .info-card {
  padding-bottom: 10px;
  background-color: #550000;
  border-radius: 20px;

}

.dashboard .sales-card{
  display: flex;
  flex-direction: row;
  position: relative;
}

.dashboard .dash_illustrations{
    display: flex;
    justify-content: flex-start;
    position: relative;
    height: 150px;

}
.dashboard .card-icon {
  font-size: 32px;
  line-height: 0;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  flex-grow: 0;
}



.card-body .card-title {
  color: white;
  font-weight: bold;
}

.card-body .card-info {
  color: #C6BCBC;
  margin-top: 8px;
}

.card-info h6 span {
  font-size: 13px;
}

.card-date {
  color: #550000;
  font-weight: 550;
  /*padding: 15px;*/
}

.card .stud_gif{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: calc(90% - 6px);
  height: 250px;
  margin-top: -28px;
  
}
.sidebar.close .stud_gif{
  right: 100px;
}


.card .stud_gif img{
  height: 13.2rem;
  margin-top: 10px;
}

.card {
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-header,
.card-footer {
  border-color: #ebeef4;
  background-color: #fff;
  color: #798eb3;
  padding: 15px;
}

.card-title {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #012970;
  font-family: "Poppins", sans-serif;
}

.card-title-info {
  color: white;
  font-size: 25px;
  font-weight: bold;
  padding-top: 20px;
}

.card-body {
  padding: 20px
}

.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}




/*CARDS===============*/
/*CURRENT BALANCE*/
.balance{
  font-size: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  margin-bottom: 0px;
  color: white;
}
.current_balance{
  font-size: 17px;
  color: #C6BCBC;
  font-weight: bold;
}
/*current event*/
.card-info{
  border-bottom: 2px solid white;
}

.current_event{
  color: white;
  font-size: 18px;
  margin-top: 25px;
}

.current_event_card .event-card-title{
  color: white;
  font-size: 25px;
  font-weight: 600;
}
/*welcome message*/
.wlcm_mssge_card{
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 15px;
  font-weight: bold;
  margin-bottom: 0px;
  color:#550000;
}
#wlcm_card{
    background-color: transparent;
    box-shadow: none;
}

/*current attendees table*/
.current-attendees-table{
  margin-top:10px;
  max-height: 210px;
  overflow-y: auto;
  overflow-x: auto;
}
.current-attendees-table::-webkit-scrollbar{
  width: 10px;
}

.current-attendees-table::-webkit-scrollbar-track {
  background: #e2e2e27c; /* Light gray background for the track */
  border-radius:  5px;

}

.current-attendees-table::-webkit-scrollbar-thumb {
  background: rgb(187, 185, 185); /* Gray thumb */
  border-radius: 5px; /* Optional: Rounded corners */
}

.current-attendees-table::-webkit-scrollbar-thumb:hover {
  background: gray; /* Darker gray on hover */
  transition: .3s ease-in;
}

table{
  width: 95%;
  border-collapse: collapse;
}

td{
  text-align: center;
  padding: 8px;
  white-space: nowrap;
  color: white;
}

th{
  padding-bottom: 12px;
  text-align: center;
  color: white;
  position: sticky;
}

td:nth-child(1){
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*no of students*/
#chart-container  >#studentsDoughnutChart{
  width: 300; /* Set container width */
  height: 350px; /* Set container height */
  margin: auto; /* Center container horizontally */
 /* display: flex;  Use flexbox to arrange items */
 /* flex-direction: column; Stack items vertically */
  
}

.no-of-students .ps-1 {
  margin-bottom: 10px; /* Add space between title and chart */
}

.no-of-students-title{
  color: white;
  font-size: 24px;
  margin-top: 8px;
  font-weight: 600;
}

.current_balance {
  margin: 0; /* Remove default margin */
  font-size: 16px; /* Adjust the font size if needed */
}

#studentsDoughnutChart {
  width: 300px;  /*Set fixed width for the canvas */
  height: 300px; /* Set fixed height for the canvas */
  margin-top: 20px; /* Add some space above the canvas */
  display: flex;
  margin-top: 0 auto;
}

.chart-legend {
  display: flex; /* Use flexbox for the legend */
  flex-direction: row; /* Stack the legend items vertically */
  align-items: flex-start; /* Align legend items to the left */
  margin-top: 15px; /* Space between the chart and the legend */
  justify-content: space-between;
}

.legend-item{
  display: flex;
  flex-direction: column;
  
}

.legend-text{
  color: white;
  width: 150px;
}

.legend-color {
  border-radius: 10px;
  height: 15px;
  width: 70px;
  padding: 5px; /* Add padding inside each legend item */
  color: white; /* Set text color to white (optional, depending on design) */
  font-size: 10px; /* Adjust the font size of the legend text */
  margin-bottom: 5px; /* Add some space between legend items */
}

